/* individual objects */

#deskBackdrop{
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 100%;
    max-height: 100%;
    z-index: -100;
}

#winScreen{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  visibility: hidden;
  z-index: 999999;
}

#loseScreen{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  visibility: hidden;
  z-index: 999999;
}

#runInfoScrollButton{
    position: absolute;
    top: 20%;
    left: 25%;
}

#customerInfoButton{
    position: absolute;
    top: 35%;
    left: 25%;
}

#fundsInfoButton{
    position: absolute;
    top: 50%;
    left: 25%;
}

#loansInfoButton{
    position: absolute;
    top: 20%;
    left: 60%;
}

#policyInfoButton{
    position: absolute;
    top: 35%;
    left: 60%;
}

#nextDayButton{
    position: absolute;
    top: 50%;
    left: 60%;
}

#arrowKeys{
  visibility: hidden;
}

#leftArrowButton{
  position: absolute;
  top:60%;
  left:40%;
  z-index: 100;
}

#leftArrowButton img{
  width: 50px;
  height: auto;
}

#rightArrowButton{
  position: absolute;
  top:60%;
  right:43%;
  z-index: 100;
}

#rightArrowButton img{
  width: 50px;
  height: auto;
}

#checkAndDenyButtons{
  visibility: hidden;
}

#checkAndDenyButtons img{
  width: 50px;
  height: auto;
}

#checkMarkButton{
  position: absolute;
  top:60%;
  right:43%;
  z-index: 100;
}

#xMarkButton{
  position: absolute;
  top: 60%;
  left: 40%;
  z-index: 100;
}


#claimCollectedLoansButton{
    background-color: white;
    z-index: 1001;
}

/* classes */

.scrollImageContainer{
    position: relative;
    display: inline-block;
    left: 34%;
    top: 20%;
}

.scrollImageContainer img{
    display: inline-block;
    width: 600px;
    height: auto;
    top: 10px;
    left: -100px;
}

.scrollImage{
    position: absolute;
    top: 100px;
    left: 50%;
}

.scrollText{
    position: relative;
    align-self: center;
    top: 200px;
    left: 200px;
    max-height: 700px;
    max-width: 250px;
    font-size: 24px;
}

.buttonImageContainer {
    position: relative;
    display: inline-block;
}

.buttonImageContainer img{
    display: block;
    width: 175px;
    height: auto;
}


.centeredText{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.submenu{
    position: relative;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
    visibility: hidden;
    z-index: 1000;
}

.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 999;
}

.xButton{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    z-index: 1001;
}

/* global things */

td, th, table{
    border: solid 1px;
    border-color: black;
    padding: 2px;
    text-align: center;
}
