#mainText{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#TheButton{
    position: absolute;
    left: 250px;
    top: 250px;
    padding: 10px;
}