
.sectionContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 95%;
}

#graphOutput{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#guessInputHolder{
    position: relative;
    padding-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

#guessInputHolder button{
    background-color: #3EBEB1;
    border-radius: 0.5em;
    padding: 0.5em;
    border-width: 1px;
    border-color: rgb(240,240,240);
}

#guessInputHolder input{
    width: 2em;
    margin-right: 0.25em;
}

#guessInputHolder label{
    position: relative;
    transform: translateY(-10%);
    font-size: clamp(1.25em, 1.5em, 1.75em);
}

#guessOutputHolder{
    display: none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#guessOutputHolder p{
    font-size: clamp(0.90em, 0.95em, 1em);
    margin-top: 0.125em;
    margin-bottom: 0.125em;
}

/* MOBILE STYLING */
@media (max-width: 600px){
    html, body{
        overflow-x: hidden;
    }
    
    .headerImage{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.25em;
    }
    
    .pageHeader{
        display: flex;
        flex-direction: column;
        gap: 0.75em;
    }    
    
    svg{
        max-width: 100%;
        height: auto;
    }
    
    #graphOutput{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}


/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Standard property for modern browsers */
input[type=number] {
  appearance: textfield;
}